* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Raleway', sans-serif !important;
}

main {
	flex: 1 0 auto;

}

.registration,
.about,
.loginPage,
.logout,
.products,
.contactUs {
	padding: 30px 0;
	background-size: cover;
	background-attachment: fixed;
}

.about {
	background-image: url(bg4.jpg);
}

.contactUs {
	background-image: url(bg2.jpg);
}

.loginPage {
	background-image: url(bg3.jpg);
}

.logout {
	background-image: url(shoes3.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
	min-height: 90vh

}

.registration {
	background-image: url(shoes.jpg);
}

.products {
	background-image: url(bg5.jpg);
}

.firstBlock {
	background-image: url(bg6.jpg);
	height: 90vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; 
}

button {
	margin: 5px 5px;
}

.signForm {
	padding: 50px !important;
	margin-bottom: 10px !important;
}


.orderSum {
	padding: 15px !important;
}

.imgLogo,
.imgLogo1 {
	height: 50px;
	display: block;
	margin: 10px 20px;
}

.imgLogo1 {
	margin: 20px auto;
}

.imgLogo2 {
	height: 50px;
	margin: 0 auto;
}

.trustLogo {
	height: 30px;
	margin: 10% 4%;
}

#noMatch,
#usernameExist,
#emailExist,
#xCredentials {
	color: red;
	margin-bottom: 10px;
}

.itemImg {
	height: 200px;
}

.itemImg2 {
	height: 500px;
}


.cartImg {
	width: 100px;
}

.cartItem {
	margin-top: 10px;
}

.socMed {
	margin: 0 5%;
}