CSS RESET*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*BACKGROUND BACKGROUND BACKGROUND BACKGROUND*/

body {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}

.background > figure {
	animation: imageAnimation 20s linear infinite 0s;
  	backface-visibility: hidden;
  	background-size: cover;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	color: transparent;
  	height: 100%;
  	left: 0;
  	top: 0;
  	opacity: 0;
  	position: absolute;
  	width: 100%;
  	z-index: -1;
}

.background > figure:nth-child(1) { 
	background-image: url('../image/image1.jpg');
	background-position: left center;
}

.background > figure:nth-child(2) {
  	animation-delay: 5s;
  	background-image: url('../image/image2.jpg');
  	background-position: left center;
}

.background > figure:nth-child(3) {
  	animation-delay: 10s;
  	background-image: url('../image/image3.jpg');
  	background-position: 65% 50%;
}

.background > figure:nth-child(4) {
  	animation-delay: 15s;
  	background-image: url('../image/image4.jpg');
  	background-position: center center;
}


@keyframes imageAnimation {  
	0% {
 		animation-timing-function: ease-in;
 		opacity: 0;
	}
 	5% {
 		animation-timing-function: ease-out;
 		opacity: 1;
 		z-index: 0;
	}
 	17% {
 		opacity: 1;
 		z-index: 0;
	}
 	25% {
 		opacity: 0;
 		z-index: -1;
 	
	}
 	100% {
 		opacity: 0;
 		}
}

.wrapper1 {
	background-image: url('../image/image1.jpg');
	background-size: cover;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	height: 100%;
  	width: 100%;
  	position: fixed;
  	top: 0;
  	left: 0;
}



/*BACKGROUND BACKGROUND BACKGROUND BACKGROUND*/

/*NAVBAR NAVBAR NAVBAR NAVBAR*/

.logodef {
	width: 15vh;
}

.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}

.navbar-brand {
	padding: 10px 20px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #feffff;
	font-size: 1.5em;
}

.navbar-inverse .navbar-toggle {
	padding: 35px 20px;
	border-color: transparent;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	background-color: rgba(31, 40, 51, 1);
	border-bottom: 1px solid #66fcf1;
}

.navbar-inverse .navbar-toggle {
	padding: 30px 20px;
}
/*NAVBAR NAVBAR NAVBAR NAVBAR*/

/*CONTENT CONTENT CONTENT CONTENT*/

.textbox {
	color: #66fcf1;
	background-color: rgba(31, 40, 51, .9);
	width: 100%;
	border-top: 1px solid #66fcf1;
	border-bottom: 1px solid #66fcf1;
	position: absolute;
	top: 30%;
	text-align: center;
}

.textbox h1,
.textbox h2 {
	display: block;
	padding: 5%;
	margin: 0;
}

.textbox p {
	color: #feffff;
	font-size: 1.5em;
}

.boxlink {
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%,-50%);
	background-color: rgba(31, 40, 51, .9);
	border-radius: 5px;
	padding: 2%;
	border: 1px solid #66fcf1;
	font-family: 'Raleway', sans-serif;
}

.boxlink > a > h4 {
	color: #feffff;
	font-family: 'Raleway', sans-serif;
}
/*CONTENT CONTENT CONTENT CONTENT*/

/*ABOUT ABOUT ABOUT ABOUT*/

.wrapper1,
.wrapper2 {
	background-image: url('../image/image1.jpg');
	background-size: cover;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-position: center;
  	height: 100%;
  	width: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
}

.containercontent,
.contact1 {
	position: absolute;
	top: 20%;
	z-index: 0;
}


.about1 {
	margin-top: 5%;
	background-color: rgba(31, 40, 51, 1);
	border-top: 1px solid #66fcf1 ;
	border-bottom: 1px solid #66fcf1 ;
}

.about1 div.aheader {
	padding: 10% 5%;
	text-align: right;
	color: #66fcf1;
	border-right: 3px solid	#66fcf1;
	margin: 10% 0;
}

.about1 div.content {
	color: white;
	padding-right: 5%;
	font-family: 'Raleway', sans-serif;
	margin: 5% 0 10%;
}

div.content > p {
	margin: 10% 0;
	font-size: 4.5vmin;
}

div.content > a {
	padding: 3%;
	margin: 10% 0 20% 0;
	color: #fff;
	border: 1px solid #66fcf1;
	border-radius: 5px;
}
/*ABOUT ABOUT ABOUT ABOUT*/

/*CONTACT CONTACT CONTACT CONTACT*/

.wrapper2 {
	background-image: url('../image/image4.jpg');
}

.contact1 > .row div,
.contactinfo > p > a {
	color: #fff;
}

.contacttext {
	background-color: rgba(31, 40, 51, .9);
}

.social i {
	font-size: 3.5em;
	margin: 30% auto;
	color: #45a29e;
	text-shadow: 3px 3px 5px #1f2833;
}

.contacttext h2 {
	margin: 5% auto;
	color: #66fcf1;
}
.contacttext > p {
	margin: 15% auto;
	font-family: 'Raleway', sans-serif;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 10%;
	background-color: rgba(31, 40, 51, 1);
	border-top: 1px solid #66fcf1;
}


/*CONTACT CONTACT CONTACT CONTACT