/*CSS RESET*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*To avoid overflow*/
}

body {
	background-image: url(../image/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
}


.wrapper {
	width: 80%;
	margin: 0 auto;
	background-image: url (../image/bg2.jpg)
}

/*div	{
	padding: 20px;
}*/

.grandparent {
	background-color: skyblue;
	width: inherit;
	position: fixed;
	bottom: 50px;
}

.parent {
	background-color: pink;
	width: 100%;
	position: relative;
}

p {
	/*position: static;*/
	/*margin-left: 50px;*/
	/*margin-top: -20px;*/
}

input[name="submit"] {
	margin-left: 20px;
}

strong {
	background-color: yellow;
	position: absolute;
	top: 10px;
	left: 10px;
}

.h1p2 {
	background-color: grey;
	padding: 10px;
	position: fixed;
	z-index: 1;
	width: inherit;
}

main.wrapper > p {
	height: 1000px;
	background-color: #efefef;
	position: relative;
	top: 70px;
}

/*PAGE 3 CSS RULES*/

/*div	{
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	position: absolute;
}*/

.blue {
	background-color: blue;
	top: 20px;
	left: 20px;
	z-index: 1;
}

.yellow {
	background-color: yellow;
	top: 40px;
	left: 40px;
	z-index: 0;
}

.orange {
	background-color: orange;
	top: 60px;
	left: 60px;
	z-index: 2;
}

/*PAGE 4 CSS RULES*/

/*main.wrapper div {
	padding: 0;
	margin: 0;
}*/

.menu,
.submenu {
	height: 120px;
	padding: 20px 40px;
	margin: 0 auto;
	width: 45%;
	display: inline-block;
}

.submenu {
	text-align: right;
	color: white;
	float: right;
}


.menu-logo {
	/*width: 70%;*/
	height: 100%;
}

.menuNews,
.menuSubscribe {
	color: white;
	text-decoration: none;
	margin-right: 40px;
}
	


.sidebar {
	height: 300px;
	width: 20%;
	float: left;
	padding: 40px;
}
/* CONTENT */

.content {
	width: 80%;
	float: left;
	padding: 20px;
}

.article-image {
	width: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.sidebarcontent,
div.content > p {
	margin-bottom: 20px;
	color: white;
}

/*FOOTER*/

.footer {
	/*height: 200px;*/
	clear: both;
}

.avatar {
	width: 60px;
	height: 60px;
	background-color: #d639fe;
	float: left;
	margin-right: 25px;
	border-radius: 50%;
}

.username {
	margin-bottom: 15px;
}

.page {
	clear: 
}

/*BEST WAY TO CLEAR FLOATS*/

.clear:after {
	content: "";
	display: block;
	clear: both;
}

/*COLUMNS*/

div div.column {
	background-image: url('../image/bg2.jpg');
	height: 120px;
	width: 31%;
	margin: 20px 1.16%;
	float: left;
	padding: 15px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

h3.username + p {
	overflow: hidden;
}

/*MANAGING TEXT OVERFLOW WITH MULTILINE SUPPORT*/

.block-with-text {
	overflow: hidden;
	position: relative;
	line-height: 1.2em;
	max-height: 2.5em;
	text-align: left;
	margin-right: -1em;
	padding-right: 30px;
}

.block-with-text:before {
	content: "...";
	position: absolute;
	right: 20px;
	bottom: 0;
}

.block-with-text:after {
	content: "";
	position: absolute;
	right: 20px;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background-color: #b2d6ff;
}

.read-more {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: white;
	text-decoration: none;

}

.avatar1 {
	background-image: url('../image/scarlett.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.avatar2 {
	background-image: url('../image/chris evans.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.avatar3 {
	background-image: url('../image/hulk.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.avatar4 {
	background-image: url('../image/thor.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.avatar5 {
	background-image: url('../image/iron.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.avatar6 {
	background-image: url('../image/loki.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
