/*CSS RESET*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	width: 20%;
	height: 100vh;
	background: linear-gradient(#92B6D5, #fff);
	float: left;
	position: fixed;
	box-shadow: 4px 4px 10px #000;
	z-index: 9999999999999999999999;
}

div.logocontainer {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.logo {
	width: 80%;
	margin: 20% auto;
}

.navlist {
	width: 80%;
	margin: 0 auto;
}

.navlist > ul {
	list-style: none;
}

.navlist > ul > li > a {
	display: block;
	margin: 2vh auto;
	padding: 1vh;
	color: #156391;
	font-family: 'PT Serif', serif;
	font-size: 1.6vh;
	text-decoration: none;
	text-shadow: 2px 2px 10px #fff;
	background-color: #70A1BF;
	border-radius: 5px;
	text-align: center;
	box-shadow: 2px 2px 10px #000;
}

.navlist > ul > li > a:hover {
	box-shadow: 5px 5px 3px #000;
	text-shadow: 2px 2px 3px #fff;
}

.navlist > ul > li > a:active {
	box-shadow: 2px 2px 10px #000;
	text-shadow: 2px 2px 10px #fff;	
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	margin: 0 auto;
}

footer > a > i {
	width: 31%;
	margin: 3vh auto;
}

.icon {
	color: #92B6D5;
	text-shadow: 1px 1px 2px #000;
}

/*MAIN CONTENT*/

/*HOME*/

div.home {
	background-image: url(../image/home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	width: 80%;
	float: right;
	text-align: center;
	position: relative;
	box-shadow: 1px 1px 5px #000;
	z-index: 888888;
}

div.homecontent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 2vw;
	border-radius: 5%;
	background-color: rgba(0,0,0,0.05);
	color: #f7f7f7;
	text-shadow: 3px 3px 10px black;
	font-size: 4vh;
	font-family: 'PT Serif', serif;
}

div.homecontent > h1 + p {
	color: #f7f7f7;
	text-shadow: 2px 2px 5px black;
	font-size: 3vh;
	font-family: 'PT Serif', serif;
	margin: 3vh auto;
}

h1 + p > span {
	color: #156391;
	text-shadow: 2px 2px 5px #fff;
}

/*ABOUT*/

div.about {
	background: linear-gradient(to bottom, #f7f7f7, white);
	height: 100vh;
	width: 80%;
	float: right;
	text-align: center;
	position: relative;
	box-shadow: 1px 1px 5px #000;
	z-index: 777777;
}

div.aboutcontent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	font-size: 4vh;
	font-family: 'PT Serif', serif;
	color: #156391;
}

div.aboutcontent > h3 + p {
	font-size: 2vh;
	font-family: 'PT Sans', sans-serif;
	margin: 5vh auto;
	color: black;	

}

/*SERVICES*/

div.services {
	background: linear-gradient(to bottom, #f7f7f7, white);
	height: 100vh;
	width: 80%;
	float: right;
	text-align: center;
	position: relative;
	box-shadow: 1px 1px 5px #000;
	z-index: 666666;
}

div.servicescontent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	font-size: 4vh;
	font-family: 'PT Serif', serif;
	color: #156391;
}

div.servicescontent > h3 + p {
	font-size: 2vh;
	font-family: 'PT Sans', sans-serif;
	margin: 5vh auto;
	color: black;	
}

/*PROJECTS*/

div.projects {
	background: linear-gradient(to bottom, #f7f7f7, white);
	height: 100vh;
	width: 80%;
	float: right;
	text-align: center;
	position: relative;
	box-shadow: 1px 1px 5px #000;
	z-index: 555555;
}

div.projectscontent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	font-size: 4vh;
	font-family: 'PT Serif', serif;
	color: #156391;
}

div.projectscontent > h3 + p {
	font-size: 2vh;
	font-family: 'PT Sans', sans-serif;
	margin: 5vh auto;
	color: black;	
}


/*GALLERY*/

div.gallery {
	background: linear-gradient(to bottom, #f7f7f7, white);
	height: 100vh;
	width: 80%;
	float: right;
	text-align: center;
	position: relative;
	box-shadow: 1px 1px 5px #000;
	z-index: 444444;
}

div.gallerycontent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	font-size: 4vh;
	font-family: 'PT Serif', serif;
	color: #156391;
	
}

div.gallerycontent > a > img {
	width: 30%;
	margin: 4vh 0.5vw 0;
	box-shadow: 2px 2px 10px #000;
}